@font-face {
  font-family: Gotham-Bold;
  src: url("../fonts/GothaProBold.eot");
  src: url("../fonts/GothaProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothaProBold.woff") format("woff"), url("../fonts/GothaProBold.ttf") format("truetype"), url("../fonts/GothaProBold.svg#Mont-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gotham-Regular;
  src: url("../fonts/GothaProRegular.eot");
  src: url("../fonts/GothaProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothaProRegular.woff") format("woff"), url("../fonts/GothaProRegular.ttf") format("truetype"), url("../fonts/GothaProRegular.svg#Mont-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PlayfairDisplayBold;
  src: url("../fonts/PlayfairDisplayBold.eot");
  src: url("../fonts/PlayfairDisplayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplayBold.woff") format("woff"), url("../fonts/PlayfairDisplayBold.woff2") format("woff2"), url("../fonts/PlayfairDisplayBold.ttf") format("truetype"), url("../fonts/PlayfairDisplayBold.svg#Mont-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PlayfairDisplayRegular;
  src: url("../fonts/PlayfairDisplayRegular.eot");
  src: url("../fonts/PlayfairDisplayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplayRegular.woff") format("woff"), url("../fonts/PlayfairDisplayRegular.woff2") format("woff2"), url("../fonts/PlayfairDisplayRegular.ttf") format("truetype"), url("../fonts/PlayfairDisplayRegular.svg#Mont-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: PlayfairDisplayItalic;
  src: url("../fonts/PlayfairDisplayItalic.eot");
  src: url("../fonts/PlayfairDisplayItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplayItalic.woff") format("woff"), url("../fonts/PlayfairDisplayItalic.woff2") format("woff2"), url("../fonts/PlayfairDisplayItalic.ttf") format("truetype"), url("../fonts/PlayfairDisplayItalic.svg#Mont-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/MontserratRegular.eot");
  src: url("../fonts/MontserratRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MontserratRegular.woff") format("woff"), url("../fonts/MontserratRegular.woff2") format("woff2"), url("../fonts/MontserratRegular.ttf") format("truetype"), url("../fonts/MontserratRegular.svg#Mont-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/MontserratMedium.ttf");
  src: url("../fonts/MontserratMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}