doctype html
html lang="en"
  head
    meta charset="UTF-8" /
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta content="ie=edge" http-equiv="X-UA-Compatible" /
    script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"
    link rel="stylesheet" href="../css/style.css"/
    script src="../js/scripts.js"
    link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"
    title Articles - Happy Healthy you
  body
    main
      .articles
        .container
          .breadcrumb
            a href="/"  Home
            img alt="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNCIgaGVpZ2h0PSI2IiB2aWV3Qm94PSIwIDAgNCA2IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMy4yNzk1MyAzLjAwOTk4QzMuMjc3NjYgMy4wODkwNSAzLjI0NjQxIDMuMTY0OTggMy4xOTIwMyAzLjIyMjQ4TDEuMjcyMDMgNS4yMjI0OEMxLjE0ODkgNS4zNDkzNSAwLjk0NjQwMyA1LjM1MzEgMC44MTg4OTkgNS4yMzA2QzAuNjkxMzk1IDUuMTA3NzkgMC42ODczMzkgNC45MDUyOSAwLjgwOTUyNCA0Ljc3NzQ4TDIuNTE3MDQgMi45OTk5NkwwLjgwOTUyNCAxLjIyMjQ0QzAuNjg3MzQgMS4wOTQ2MiAwLjY5MTM5NSAwLjg5MTgxNCAwLjgxODg5OCAwLjc2OTMxQzAuOTQ2NDAyIDAuNjQ2ODA2IDEuMTQ4OSAwLjY1MDI0NiAxLjI3MjAzIDAuNzc3NDM1TDMuMTkyMDMgMi43Nzc0M0MzLjI1MTQgMi44Mzk5MyAzLjI4Mjk2IDIuOTIzNjggMy4yNzk1MyAzLjAwOTkzTDMuMjc5NTMgMy4wMDk5OFoiIGZpbGw9IiM0NzVFNzMiLz4KPC9zdmc+Cg=="
            a href="/pages/Shop"  Articles
          .title HHY Articles & Research
          .articles_items
            .item
              a href=''
                .pic_blc
                  img alt='' src='../img/Rectangle 127.jpg'
                p.title What to Expect
                p.description Sometimes weight just doesn’t like to budge, even though you feel like you’ve been doing everything right. "WHY can’t...
            .item
              a href=''
                .pic_blc
                  img alt='' src='../img/Rectangle 144.jpg'
                p.title What to Expect in a Happy Weight Consultation
                p.description Sometimes weight just doesn’t like to budge, even though you feel like you’ve been doing everything right. "WHY can’t...
            .item
              a href=''
                .pic_blc
                  img alt='' src='../img/Rectangle 127.jpg'
                p.title What to Expect in a Happy Weight Consultation
                p.description Sometimes weight just doesn’t like to budge, even though you feel like you’ve been doing everything right. "WHY can’t...
            .item
              a href=''
                .pic_blc
                  img alt='' src='../img/Rectangle 127.jpg'
                p.title What to Expect in a Happy Weight Consultation
                p.description Sometimes weight just doesn’t like to budge, even though you feel like you’ve been doing everything right. "WHY can’t...
            .pages_count
              a.prev href=''
                i.fas.fa-chevron-left
              a.current href='' 1
              a href='' 2
              a href='' 3
              a href='' 4
              a href='' ...
              a href='' 345
              a.next href=''
                i.fas.fa-chevron-right

          .sidebar
            .search
              label
                |Search
                input type="text" placeholder='Email'
            .featured_articles
              p.title Featured Articles
              .item
                a href=''
                  .pic_blc
                    img alt='' src='../img/Rectangle 127.jpg'
                  p.title What to Expect in a Happy Weight Consultation
              .item
                a href=''
                  .pic_blc
                    img alt='' src='../img/Rectangle 144.jpg'
                  p.title What to Expect in a Happy Weight Consultation
              .item
                a href=''
                  .pic_blc
                    img alt='' src='../img/Rectangle 127.jpg'
                  p.title What to Expect in a Happy Weight Consultation
              .item
                a href=''
                  .pic_blc
                    img alt='' src='../img/Rectangle 144.jpg'
                  p.title What to Expect in a Happy Weight Consultation
            .recent_articles
              .title Recent Articles
              ul
                li
                  a href='' What to Expect in a Happy Weight Consultation
                li
                  a href='' What is the Lymphatic System?
                li
                  a href='' What to Expect in an HHY Consultation
                li
                  a href='' What happens when you take Happy Hormones?
                li
                  a href='' How to Strengthen your Immunity Naturally
                li
                  a href='' The Truth About Cellulite
            .find_more
              .pic_blc
                img alt='' src='../img/image10.jpg'
              a href='' FIND OUT MORE
            .join
              .pic_blc
                img alt='' src='../img/Rectangle 154.jpg'
              .text_blc
                p.title Join the Conversation
                p.description Join our private community to chat with other women and get support & advice on the HHY programs.
